[Unit]
Description=Vision Landing System
After=maverick-mavproxy-fc.service

[Service]
ExecStart=/usr/local/vision_landing/vision_landing start
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
